:root {
    --primary: #007bff;
    --secondary: #303030;
    --success: #2da160;
    --info: #428fdc;
    --warning: #c17d10;
    --danger: #ec5941;
    --light: #404040;
    --dark: #f0f0f0;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: "Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
}

body {
    background-color: #1f1f1f;
    color: #fafafa;
    margin: 0;
}

/* grid layout */

header {
    grid-area: header;
}

aside {
    grid-area: aside;
}

article {
    grid-area: article;
    display: flex;
    flex-flow: column nowrap;
}

section {
    grid-area: section;
}

footer {
    grid-area: footer;
}

.grid-container {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'aside article article article section section'
    'aside footer footer footer footer footer';
    gap: 10px;
    padding: 10px;
}

header, aside, article, section, footer {
    background-color: #303030;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: #404040;
    border-style: solid;
    padding: 16px;
}

#workspace {
    height: calc(100vh - 40px);
}

textarea pre {
    font-family: monospace;
}

input[type=number] {
    width: 60px;
}

.colorText {
    width: 56px;
}

#workspace_idDiv {
    color: #999;
    font-size: 10px;
}

#fileContentDiv {
    flex-grow: 1;
}

#fileContent {
    width: 100%;
    height: 100%;
}

#customisationPDiv {

}

#previewPDiv {

}

#previewImg {
    border: black inset;
}

#lastLog {
    background-color: #222222;
    color: antiquewhite;
}

#customisationPDiv {
    width: 100%;
}

#customisation {
    width: 100%;
}

.directory_content {
    padding-left: 20px;
}
